/* common shared styles */
body {
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
}

main {
    width: 1200px;
    margin: 0 auto;

}

.section-hero {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner\ Image.png); width: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    text-align: center; 
    border-radius: 16px;
    padding: 100px 150px 120px 120px;
}
.hero-tittle {
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;

}

.hero-tittle-main {
    font-family: Merriweather;
    font-size: 65px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 10px;
    
}